.carousel-indicators .active{ background: orange; } 
.content{ margin-top:20px; }
.adjust1{ float:left; width:100%; margin-bottom:0; } 
.adjust2{ margin:0; } 
.carousel-indicators li{ border :1px solid #ccc; } 
.carousel-control{ color:orange; width:5%; } 
.carousel-control:hover, .carousel-control:focus{ color:orange; } .carousel-control.left,
.carousel-control.right { background-image: none; } .media-object{ margin:auto; margin-top:15%; } @media screen and (max-width: 768px) { .media-object{ margin-top:0; } }